$path: "../images/";

@import 'govuk-elements';
@import 'govuk-template';

.phase-banner {
  @include phase-banner(beta);
}

.heading-help {
  display: block;
  @include copy-14;
}

header#global-header {
  #logo {
    background-image: url('/images/gov.uk_logotype_crown.png')
  }
  h1 {
    @include heading-24;
    color: white;
  }
}

main {
  > section {
    margin-top: 0.5em;
  }
  @extend %site-width-container;
  #centres {
    list-style: none;
    @extend %grid-row;
    .centre {
      @include grid-column(1/2, desktop);
      & > div {
        border: 2px solid $black;
        padding: $gutter/2;
        margin-bottom: $gutter;
      }
      h3 {
        @include heading-36;
        text-transform: capitalize;
        &:after {
          content: "";
          display: block;
          width: 2em;
          float: right;
          height: 1.5em;
          background: url('/images/accordian-arrow.png') no-repeat 0 -5px;
          background-size: 1.5em;
        }
        &.close:after {
          background-position: 0 -1.5em;
        }
      }

      ul:before {
        content: attr(aria-label);
        font-weight: bold;
      }
      table {
        thead {
          th:nth-child(2) {
            white-space: nowrap;
          }
          th:nth-child(3),
          th:nth-child(4) {
            text-align: center;
            padding-right: 0;
          }
        }
        tr {
          &.detail {
            background: $grey-4;
            ul {
              @include grid-column(1/2, tablet);
            }
          }
          &.totals {
            background: $grey-3;
            .numeric {
              font-weight: bold;
            }
          }
        }

        td.numeric {
          text-align: right;
        }
        tr.open > td:first-child {
          padding-left: 0px;
        }
        th {
          @include core-14($font-weight: 800);
        }
        td {
          @include core-14($font-weight: 400);
          white-space: nowrap;
        }
        tbody {
          .highlight {
            color: $white;
            background: $red;
            padding: 0.5em 1em;
          }
          tr th {
            padding-left: 32px;
            position: relative;
          }
          tr.detail td:first-child {
            padding-left: 10px;
          }
          tr.open > th:before,
          tr.close > th:before {
            content: "";
            display: block;
            position: absolute;
            left: -10px;
            width: 32px;
            height: 1em;
            background: url('/images/accordian-arrow.png') no-repeat 0 -5px;
            background-size: 2em;
          }
          tr.close > th:before {
            background-position: 0 -2.5em;
          }
        }
      }
    }
  }
}

section.reports {
  fieldset {
    border: 1px $black solid;
    padding: .35em;
    legend {
      @include heading-24;
      padding: 0 0.2em;
    }
  }
  label {
    display: block;
  }
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button,
input[type="button"],
input[type="submit"] {
  @include button;
  margin: 0.5em;
  &:disabled,
  &[disabled="disabled"],
  &[disabled] {
    @include button($grey-3);
    color: $grey-1;
    cursor: auto;
  }
}