//colors
$color_mine_shaft_approx: #333333;
$black: black;
$white: #ffffff;
$red: #B1171D;
$blue: #4A90E2;
$color_concrete_approx: #f3f3f3;
$color_celeste_approx: #ccc;

//fonts
$font_generic: "Arial", "sans-serif";
$font_bold: "Arial Bold", "Arial", "sans-serif";
$font_bold_weight: 700;

$left_margin: 10px;
$indent: 55px;

$base_font_size: 12px;
$heading_font_size: 23px;

body {
  width: 340px;
  font-family: $font_generic;
  color: $color_mine_shaft_approx;
  margin: 0;
  font-size: $base_font_size;
  a {
    text-decoration: none;
    color: $blue;
    &:hover {
      text-decoration: underline;
    }
  }
}

header {
  .banner {
    background-color: $black;
    img {
      padding: 9px $left_margin 0 $left_margin;
      float: left;
    }
    h1 {
      margin: 0;
      line-height: 2em;
      font-size: $heading_font_size;
      color: $white;
    }
  }
  h2 {
    margin: 0;
    font-size: 2.2em;
    padding: 1em 0.5em;
  }
  .disconnected.message {
    margin: 1em 0.3em;
    font-family: $font_bold;
    font-size: 2.2em;
    font-weight: $font_bold_weight;
    padding: 0.5em;
    border: $red 0.2em solid;

  }

  #happybrowser {
    color: $red;
    padding: 3em 0;
    font-size: 3em;
    text-align: center;
  }
}

footer {
  margin-left: $left_margin;
  border-top: 1px solid $color_celeste_approx;
  padding: 10px 0;
}

.centre {
  padding-bottom: 1em;
  h3 {
    font-size: $heading_font_size;
    margin: 0 0 0 $left_margin;
    float: left;
    display: inline-block;
    text-transform: capitalize;
  }
  .time {
    text-align: right;
    display: block;
    padding-top: 10px;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .highlight {
    color: $red;
  }
  .summary {
    margin: 1em 0 0 $indent;
    .availability {
      display: block;
      font-weight: $font_bold_weight;
      font-family: $font_bold;
      font-size: 33px;
    }
    .detail-toggle {
      float: right;
      margin-top: -$base_font_size;
    }
  }
  .details {
    margin: 1em 0;
    background-color: $color_concrete_approx;
    padding: 0.5em $left-margin 0.5em $left-margin;
    clear: both;
  }
}

.details > table {
  border-collapse: collapse;
  tr:not(.ooc) {
    vertical-align: top;
    border-bottom: 1px solid $color_celeste_approx;
    th,
    td:first-child,
    td:last-child {
      font-weight: $font_bold_weight;
      font-family: $font_bold;
    }
    td:first-child,
    &.availability {
      font-size: 15px;
    }
    th,
    td {
      text-align: left;
      padding: 6px 0;
      &:last-child {
        text-align: right;
      }
    }
  }
  > tbody {
    > tr:not(:first-child) td:first-child {
      padding-left: 45px;
    }
    > tr:last-child {
      border-bottom: 0;
    }
    tr.open, tr.close {
      > td:first-child {
        padding-left: 0px;
      }
      > td:first-child:before {
        content: "";
        float: left;
        width: 45px;
        height: 20px;
        background: url('../images/accordian-arrow.png') no-repeat 0 -5px;
        background-size: 30px;
      }
    }
    tr.close > td:first-child:before {
      background-position: 0 -35px;
    }
    tr.close > td:first-child {
      h4 {
        padding: 8px 0px 4px 45px;
        margin: 0px;
        font-size: small;
      }
      ul {
        padding-left: 45px;
        list-style-type: none;
        li {
          padding-top: 4px;
          border-top: thin solid $color_celeste_approx;
          font-size: 12px;
          font-weight: normal;
          font-family: $font_generic;
        }
      }
    }
    tr.ooc {
      td {
        text-align: left;
        padding: 6px 0;
        &:last-child {
          text-align: right;
        }
      }
    }
  }
  .availability {
    border-top: 4px solid $black;
    border-bottom: 4px solid $black;
    line-height: 1.8em;
  }
}

ul.container {
  list-style: none;
  padding: 0;
}

section.reports {
  margin: $left-margin;
  label {
    display: block;
  }
}