<div class="centre" id="centre-{{centre.id}}">
  <h3 class="text-primary">{{attributes.name}}</h3>
  <span class="time">Last Updated: {{attributes.heartbeatRecieved | amDateFormat:'HH:mm:ss'}}</span>
  <centre-gender-directive
    ng-if="attributes.maleCapacity > 0"
    gender="'Male'"
    availability="attributes.maleAvailability"
    ooc="attributes.maleOutOfCommission"
    capacity="attributes.maleCapacity"
    inuse="attributes.maleInUse"
    scheduledout="attributes.maleActiveMovementsOut"
    scheduledin="attributes.maleActiveMovementsIn"
    cidreceiveddate="attributes.cidReceivedDate | amDateFormat:'HH:mm:ss'"
    heartbeatreceived="attributes.heartbeatRecieved | amDateFormat:'HH:mm:ss'"
    status="attributes.statusMale"
  >
  </centre-gender-directive>

  <centre-gender-directive
    ng-if="attributes.femaleCapacity > 0"
    gender="'Female'"
    availability="attributes.femaleAvailability"
    ooc="attributes.femaleOutOfCommission"
    capacity="attributes.femaleCapacity"
    inuse="attributes.femaleInUse"
    scheduledout="attributes.femaleActiveMovementsOut"
    scheduledin="attributes.femaleActiveMovementsIn"
    cidreceiveddate="attributes.cidReceivedDate | amDateFormat:'HH:mm:ss'"
    heartbeatreceived="attributes.heartbeatRecieved | amDateFormat:'HH:mm:ss'"
    status="attributes.statusFemale"
  >
  </centre-gender-directive>
</div>