<div class="centre" id="centre-{{centre.id}}">
    <h3 class="text-primary">{{attributes.name}}</h3>
    <span class="time">Last updated: {{attributes.heartbeatRecieved | amDateFormat:'HH:mm:ss'}}</span>

    <centre-gender-directive
            ng-if="attributes.maleCapacity > 0"
            gender="'Male'"
            availability="attributes.maleAvailability"
            ooc="attributes.maleOutOfCommission"
            capacity="attributes.maleCapacity"
            inuse="attributes.maleInUse"
    >
    </centre-gender-directive>

    <centre-gender-directive
            ng-if="attributes.femaleCapacity > 0"
            gender="'Female'"
            availability="attributes.femaleAvailability"
            ooc="attributes.femaleOutOfCommission"
            capacity="attributes.femaleCapacity"
            inuse="attributes.femaleInUse"
    >
    </centre-gender-directive>
</div>