<div class="summary">
  <span class="availability" ng-class="highlight" ng-bind="availability"></span>
  <span class="status" ng-bind="status"></span>
  <a class="detail-toggle" ng-click="showdetails=!showdetails"> {{showdetails ? 'Hide' : 'Show'}} numbers
  </a>
</div>
<div class="details" ng-if="showdetails">
  <table>
    <thead>
    <tr>
      <th>Category</th>
      <th>Last Updated</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Contractual Capacity</td>
      <td>N/A</td>
      <td ng-bind="capacity"></td>
    </tr>
    <tr>
      <td>Occupied</td>
      <td><span am-time-ago="heartbeatreceived" ng-attr-title="{{heartbeatreceived}}"></span></td>
      <td ng-bind="inuse"></td>
    </tr>
    <tr ng-class="oocdetail === undefined ? '' : showooc ? 'close':'open'"
        ng-click="showooc=!showooc">
      <td>Beds out of commission</td>
      <td><span am-time-ago="heartbeatreceived" ng-attr-title="{{heartbeatreceived}}"></span></td>
      <td ng-bind="ooctotal"></td>
    </tr>
    <tr class="ooc" ng-if="showooc" ng-repeat="(key, value) in oocdetail track by key">
      <td colspan="2" ng-bind="key"></td>
      <td ng-bind="value"></td>
    </tr>
    <tr ng-if="prebooking !== undefined">
      <td>Prebookings</td>
      <td><span am-time-ago="prebookingreceived" ng-attr-title="{{prebookingreceived}}"></span></td>
      <td ng-bind="prebooking"></td>
    </tr>
    <tr ng-if="contingency !== undefined">
      <td>Contingency</td>
      <td><span am-time-ago="prebookingreceived" ng-attr-title="{{prebookingreceived}}"></span></td>
      <td ng-bind="contingency"></td>
    </tr>
    <tr ng-class="expectedin.length === 0 ? '' : showExpectedIncoming ? 'close':'open'"
        ng-click="showExpectedIncoming=!showExpectedIncoming">
      <td>Expected incoming</td>
      <td><span am-time-ago="cidreceiveddate" ng-attr-title="{{cidreceiveddate}}"></span></td>
      <td ng-bind="expectedin.length"></td>
    </tr>
    <tr class="details" ng-if="showExpectedIncoming" ng-repeat="item in expectedin">
      <td colspan="2" ng-bind="item.cid_id"></td>
      <td>1</td>
    </tr>
    <tr ng-class="unexpectedin.length === 0 ? '' : showUnexpectedIncoming ? 'close':'open'"
        ng-click="showUnexpectedIncoming=!showUnexpectedIncoming">
      <td>Unexpected incoming</td>
      <td><span am-time-ago="cidreceiveddate" ng-attr-title="{{cidreceiveddate}}"></span></td>
      <td ng-bind="unexpectedin.length"></td>
    </tr>
    <tr class="details" ng-if="showUnexpectedIncoming" ng-repeat="item in unexpectedin">
      <td colspan="2" ng-bind="item.cid_id"></td>
      <td>1</td>
    </tr>
    <tr class="availability">
      <td>Availability</td>
      <td></td>
      <td ng-class="highlight" ng-bind="availability"></td>
    </tr>
    <tr ng-class="expectedout.length === 0 ? '' : showExpectedOutgoing ? 'close':'open'"
        ng-click="showExpectedOutgoing=!showExpectedOutgoing">
      <td>Expected outgoing</td>
      <td><span am-time-ago="cidreceiveddate" ng-attr-title="{{cidreceiveddate}}"></span></td>
      <td ng-bind="expectedout.length"></td>
    </tr>
    <tr class="details" ng-if="showExpectedOutgoing" ng-repeat="item in expectedout">
      <td colspan="2" ng-bind="item.cid_id"></td>
      <td>1</td>
    </tr>
    </tbody>
  </table>
</div>
