<div class="summary">
  <span class="availability" ng-class="highlight" ng-bind="availability"></span>
  <span class="status" ng-bind="status"></span>
  <a class="detail-toggle" ng-click="showdetails=!showdetails"> {{showdetails ? 'Hide' : 'Show'}} numbers
  </a>
</div>
<div class="details" ng-if="showdetails">
  <table>
    <thead>
    <tr>
      <th>Category</th>
      <th>Last Updated</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Contractual Capacity</td>
      <td>N/A</td>
      <td ng-bind="capacity"></td>
    </tr>
    <tr>
      <td>Occupied</td>
      <td ng-bind="heartbeatreceived"></td>
      <td ng-bind="inuse">}</td>
    </tr>
    <tr>
      <td>Beds out of commission</td>
      <td ng-bind="heartbeatreceived"></td>
      <td ng-bind="ooc"></td>
    </tr>
    <tr ng-if="prebooking !== undefined">
      <td>Prebookings</td>
      <td ng-bind="prebookingreceived"></td>
      <td ng-bind="prebooking"></td>
    </tr>
    <tr ng-if="contingency !== undefined">
      <td>Contingency</td>
      <td ng-bind="prebookingreceived"></td>
      <td ng-bind="contingency"></td>
    </tr>
    <tr class="availability">
      <td>Availability</td>
      <td></td>
      <td ng-class="highlight" ng-bind="availability"></td>
    </tr>
    <tr ng-if="scheduledout !== undefined">
      <td>Scheduled outgoing</td>
      <td ng-bind="cidreceiveddate"></td>
      <td ng-bind="scheduledout"></td>
    </tr>
    <tr ng-if="scheduledin !== undefined">
      <td>Scheduled incoming</td>
      <td ng-bind="cidreceiveddate"></td>
      <td ng-bind="scheduledin"></td>
    </tr>
    </tbody>
  </table>
</div>