<div class="centre" id="centre-{{cid}}">
  <h3 class="text-primary">{{attributes.name}}</h3>
  <span class="time">Last Updated:
    <span ng-attr-title="{{attributes.heartbeatReceived}}"
          am-time-ago="attributes.heartbeatReceived"></span></span>
  <centre-gender-directive
    ng-if="attributes.maleCapacity > 0"
    gender="'Male'"
    availability="attributes.maleAvailability"
    ooctotal="attributes.maleOutOfCommissionTotal"
    oocdetail="attributes.maleOutOfCommissionDetail"
    capacity="attributes.maleCapacity"
    inuse="attributes.maleInUse"
    expectedin="attributes.maleExpectedIn"
    expectedout="attributes.maleExpectedOut"
    unexpectedin="attributes.maleUnexpectedIn"
    cidreceiveddate="attributes.cidReceivedDate"
    heartbeatreceived="attributes.heartbeatReceived"
    prebookingreceived="attributes.prebookingReceived"
    prebooking="attributes.malePrebooking"
    contingency="attributes.maleContingency"
    status="attributes.statusMale"
    highlight="attributes.highlightMale"
  >
  </centre-gender-directive>

  <centre-gender-directive
    ng-if="attributes.femaleCapacity > 0"
    gender="'Female'"
    availability="attributes.femaleAvailability"
    ooctotal="attributes.femaleOutOfCommissionTotal"
    oocdetail="attributes.femaleOutOfCommissionDetail"
    capacity="attributes.femaleCapacity"
    inuse="attributes.femaleInUse"
    expectedin="attributes.femaleExpectedIn"
    expectedout="attributes.femaleExpectedOut"
    unexpectedin="attributes.femaleUnexpectedIn"
    cidreceiveddate="attributes.cidReceivedDate"
    heartbeatreceived="attributes.heartbeatReceived"
    prebookingreceived="attributes.prebookingReceived"
    prebooking="attributes.femalePrebooking"
    contingency="attributes.femaleContingency"
    status="attributes.statusFemale"
    highlight="attributes.highlightFemale"
  >
  </centre-gender-directive>
</div>
