<header>
  <div class="banner">
    <img width=35 height=26 src="/images/crown_image.png">
    <h1>IRC Bed Management</h1>
  </div>
  <div id="happybrowser" style="display:none">
    You are using a non-supported browser. Please <a href="http://chrome.com/">change your browser to
    Chrome</a> to improve your experience.
  </div>
  <div class="disconnected message" ng-if="!connected">Connecting to service...</div>
</header>

<ul class="container" ng-class="{'disconnected' : !connected}">
  <li class="centre"
      ng-repeat="centre in centres | orderBy:'attributes.name' track by centre.id"
      centre-directive
      attributes="centre.attributes"
      cid="centre.id">
  </li>
</ul>
<footer ng-if="keycloakLinkPath !== undefined">
  <a ng-href="{{keycloakLinkPath}}" ng-bind="keycloakLinkText" target="_blank"></a>
</footer>
